body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;
  font-weight: bolder;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 28px;
}
canvas {
  width: 100%;
  height: 100%;
}

ol {
  padding: 0;
  margin: 4px 24px;
}

#game-stats {
  width: 100%;
  height: 40px;
  color: white;
  background-color: #5448;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 2px;
}
#game-stats img {
  height: 32px;
  width: auto;
}
#game-stats div {
  margin: 4px;
  display: block;
  padding: 0px 16px;
}
#game-stats span {
  vertical-align: top;
}

#level-msg {
  min-width: 100%;
  color: white;
  background-color: #5448;
  position: absolute;
  bottom: 0;
  font-weight: 400;
  padding: 16px 32px;
  display: none;
}

.splash {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  font-size: 50px;
}

.splash.show, #level-msg.show {
  display: block;
}

.splash [center] {
  text-align: center;
  margin-top: 100px;
}

.splash [small] {
  font-size: 30px;
}

#game-over-splash {
  background-color: black;
  color: white;
}

#welcome-splash {
  background-color: darkcyan;
  color: white;
}

[gold] { color: gold; }
[cyan] { color: cyan; }
[blue] { color: blue; }

input, button {
  width: 54px;
  font-size: 50px;
  font-family: monospace;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
  margin: 12px;
}

input:focus, button:focus {
  outline: 10px solid gold;
}

button {
  width: unset;
  padding: 5px 60px;
}

[highscores] {
  overflow-y: scroll;
  height: 330px;
  border: 1px solid white;
  width: fit-content;
  margin: auto;
}
